<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ting.worktable.mapper.StaffMapper">
  <resultMap id="BaseResultMap" type="cn.ting.worktable.entity.Staff">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="staff_en" jdbcType="VARCHAR" property="staffEn" />
    <result column="staff_pos" jdbcType="VARCHAR" property="staffPos" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="module" jdbcType="VARCHAR" property="module" />
  </resultMap>
  <insert id="insert" parameterType="cn.ting.worktable.entity.Staff">
    insert into staff (id, staff_name, staff_en, 
      staff_pos, department, module
      )
    values (#{id,jdbcType=INTEGER}, #{staffName,jdbcType=VARCHAR}, #{staffEn,jdbcType=VARCHAR}, 
      #{staffPos,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{module,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.ting.worktable.entity.Staff">
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="staffName != null">
        staff_name,
      </if>
      <if test="staffEn != null">
        staff_en,
      </if>
      <if test="staffPos != null">
        staff_pos,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="module != null">
        module,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffEn != null">
        #{staffEn,jdbcType=VARCHAR},
      </if>
      <if test="staffPos != null">
        #{staffPos,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="module != null">
        #{module,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>