<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ting.worktable.mapper.WorkDetailMapper">
    <resultMap id="BaseResultMap" type="cn.ting.worktable.entity.WorkDetail">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="module" jdbcType="VARCHAR" property="module"/>
        <result column="staff_name" jdbcType="VARCHAR" property="staffName"/>
        <result column="staff_pos" jdbcType="VARCHAR" property="staffPos"/>
        <result column="task_name" jdbcType="VARCHAR" property="taskName"/>
        <result column="due_day" jdbcType="DATE" property="dueDay"/>
        <result column="work_hour" jdbcType="INTEGER" property="workHour"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
    </resultMap>
    <sql id="base_columns">
        id, module, staff_name,staff_pos,task_name,due_day,work_hour,start_time,end_time
    </sql>
    <insert id="insert" parameterType="cn.ting.worktable.entity.WorkDetail">
        insert into work_detail (id, module, staff_name,
                                 staff_pos, task_name, due_day, work_hour,
                                 start_time, end_time)
        values (#{id,jdbcType=INTEGER}, #{module,jdbcType=VARCHAR}, #{staffName,jdbcType=VARCHAR},
                #{staffPos,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, #{dueDay,jdbcType=DATE},
                #{workHour,jdbcType=INTEGER},
                #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="cn.ting.worktable.entity.WorkDetail">
        insert into work_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="module != null">
                module,
            </if>
            <if test="staffName != null">
                staff_name,
            </if>
            <if test="staffPos != null">
                staff_pos,
            </if>
            <if test="taskName != null">
                task_name,
            </if>
            <if test="dueDay != null">
                due_day,
            </if>
            <if test="workHour != null">
                work_hour,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="module != null">
                #{module,jdbcType=VARCHAR},
            </if>
            <if test="staffName != null">
                #{staffName,jdbcType=VARCHAR},
            </if>
            <if test="staffPos != null">
                #{staffPos,jdbcType=VARCHAR},
            </if>
            <if test="taskName != null">
                #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="dueDay != null">
                #{dueDay,jdbcType=DATE},
            </if>
            <if test="workHour != null">
                #{workHour,jdbcType=DATE},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="selectSelective" resultMap="BaseResultMap">
        select
        <include refid="base_columns"/>
        from work_detail
        <where>
            <if test="id != null">
                #{id,jdbcType=INTEGER}
            </if>
            <if test="module != null">
                and #{module,jdbcType=VARCHAR}
            </if>
            <if test="staffName != null">
                and #{staffName,jdbcType=VARCHAR}
            </if>
            <if test="staffPos != null">
                and #{staffPos,jdbcType=VARCHAR}
            </if>
            <if test="taskName != null">
                and #{taskName,jdbcType=VARCHAR}
            </if>
            <if test="dueDay != null">
                and #{dueDay,jdbcType=DATE}
            </if>
            <if test="workHour != null">
                and #{workHour,jdbcType=DATE}
            </if>
            <if test="startTime != null">
                and #{startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null">
                and #{endTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>